*.exe
.kiro/*

.vscode/*

logs/*
web/.vscode/*


internal/api/dist/index.html
internal/api/dist/vite.svg
internal/api/dist/assets/index-40urHfJY.js
internal/api/dist/assets/index-B4wjHYOG.js
internal/api/dist/assets/index-BLK0hc1-.js
internal/api/dist/assets/index-BsQ8zxjw.js
internal/api/dist/assets/index-BWAgqWSe.js
internal/api/dist/assets/index-BwgCsvcA.js
internal/api/dist/assets/index-CBiQD9H3.js
internal/api/dist/assets/index-CjT8mV9e.css
internal/api/dist/assets/index-CYYgcwSX.js
internal/api/dist/assets/index-D_JJGZcZ.css
internal/api/dist/assets/index-DFIOWmtr.css
internal/api/dist/assets/index-DH8oZqRn.css
internal/api/dist/assets/index-Dp5mSeWt.js
internal/api/dist/assets/index-DTGG12qj.js
internal/api/dist/assets/index-DWDTeObD.js
internal/api/dist/assets/index-Dwrp6Ed9.css
internal/api/dist/assets/index-fD_yayi4.js
internal/api/dist/assets/index-trF9DBa8.css
internal/api/dist/assets/index-xLcfxnXC.js
